{$DOMAIN} {
	encode zstd gzip

	basic_auth {
		{$BASIC_AUTH_USER} {$BASIC_AUTH_PASSWORD_HASH}
	}

	header {
		X-Content-Type-Options nosniff
		Referrer-Policy same-origin
		X-Frame-Options DENY
	}

	@api path /api /api/*
	handle @api {
		reverse_proxy api:8787 {
			header_up -Authorization
		}
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
